<!DOCTYPE html>
<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/common.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="allBox">
    <div class="top">

    </div>
    <div class="middle">
        <div class="middle_nav">

        </div>
        <div class="middle_context">
            <form method="post" action="deleteDepartment">
                <div class="dep_data">
                    <input type="button" value="新增" onclick="window.location.href='addDepartment'">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="删除" >&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="数据导出">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="数据导入">&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <h4 th:utext="${msg}"></h4>
                </div>
                <table class="depTable">
                    <tr>
                        <th>
                            <input type="checkbox">
                        </th>
                        <th>
                            编号
                        </th>
                        <th>
                            部门名称
                        </th>
                        <th>
                            部门地址
                        </th>
                        <th>
                            相关操作
                        </th>
                    </tr>

                    <tr th:each="department:${departments}">
                        <td><input name="ids" type="checkbox" th:value="${department.getId()}" ></td>
                        <td th:text="${department.getId()}"></td>
                        <td th:text="${department.getName()}"></td>
                        <td th:text="${department.getLoc()}"></td>
                        <td>
                            <a th:href="@{updateDepartment(id = ${department.getId()})}">
                                <input type="button" value="修改">
                            </a>
                        </td>
                    </tr>

                </table>
            </form>
        </div>
    </div>
    <div class="bottom">

    </div>
</div>

</body>
</html>